#slotsContainer {
  display: none;
  @include media-breakpoint-up(md) { 
    grid-template-columns: 1fr 1fr; 
  }
}

.slot {
  position: relative;
  transition: all .3  s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  &.active {
    transform: scale3d(1.01,1.01,1.01);
    filter: drop-shadow(2px 4px 6px lightgray);

    .slot-select-link {
      opacity: 0;
      // transform: scale3d(.8,.8,.8);
      transform: translateY(-4rem)
    }

    .jump-buttons {
      transform: translateY(-4rem);
      opacity: 1;
    }

    .slot-image {
      filter: none;
      opacity: 0.7;
      transition: all .25s ease-in-out;
    }


    .slot-image.blur {
      filter: blur(25px) saturate(3);
      opacity: 0.7;
      transition: all .25s ease-in-out;
    }

  }
}

.slot-summary {
  background: $white;
  border-radius: 4px;
}

.slot-button-container {
  overflow: hidden;
  max-height: 4rem;
}

.slot-select-link {
  opacity: 1;
  transform: translateY(0);
  transition: all .15s ease-in-out;
}

.jump-buttons {
  transform: translateY(0);
  opacity: 0;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all .15s ease-in-out;
}

.slot.active {
  transition: all .15s ease-in-out;
}

.slot-number-container {
  position: absolute;
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 40px;
  height: 40px;
  // background: $gray-200;
  left: 0.75rem;
  top: 0.75rem;
  border-radius: 50%;
}

.slot-number {
  display: inline-block;
  font-size: 3.5em;
  font-weight: 800;
  position: absolute;
  opacity: .3;
} 

.slot-image {
  position: relative;
  height: 10rem;
  object-fit: cover;
  object-position: 100px 10%;
  opacity: 0.1;
  width: 100%;
  filter: grayscale(1);
  transition: all .25s ease-in-out;
  background-image: linear-gradient(240deg, $gray-700, transparent)
}

.slot-image.blur {
  transition: all .25s ease-in-out;
  position: absolute;
  left: 0;
  z-index: -1;
  height: 100%;
  filter: blur(0) saturate(1);
  opacity: 0;
}

.slot-mini-image {
  height: 8.8rem;
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  filter: drop-shadow(12px 4px 25px rgba(0,0,0,0.30))
}

.slot-links {
  font-weight: bold;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    &:before {
      content: "|"; 
      padding: 0 0.5em;
    }

    &:first-child:before {
      content: "";
      padding: 0;
    }
  }
}