#slotsContainer {
  display: none;
}

.slot {
  position: relative;
}

.slot-number {
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
}

.slot-image {
  height: 15rem;
  width: auto;
}

.slot-links {
  font-weight: bold;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    &:before {
      content: "|"; 
      padding: 0 0.5em;
    }

    &:first-child:before {
      content: "";
      padding: 0;
    }
  }
}