include ./mixins/_githubCorner.pug

html(lang="en") 
  head
    title NTAG215 Tag Management
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes")
    meta(name="msapplication-config", content="./browserconfig.xml")
    link(rel="manifest", href="./site.webmanifest")
    link(rel="icon", href="./favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", href="./apple-touch-icon.png")
  body
    //- +githubCorner("https://github.com/DanTheMan827/ntag215-puck.js", "#fff", "#151513")
    .container#mainContainer
      .container.d-grid.mb-3
        button.btn.btn-primary.btn-lg#puckConnect(disabled="disabled") Connect to Tag
        button.btn.btn-default.btn-md#puckDisconnect.mb3(disabled="disabled") Disconnect from Tag

      #readme
        include:markdown-it ../../readme.md
        pre#code.hljs
          include:highlight(lang="javascript") ../../ntag215.js

      #slotsContainer.container.d-grid.gap-3


    .editor--terminal
      .editor__canvas

    //- include modal-std.pug
    include modal.pug